<nav class="w-full bg-sky-700 h-14 flex justify-between items-center mb-12 p-6">
  <div class="flex items-center gap-5">
    <img
      src="../../../assets/logo-gradient-white-trello.png"
      routerLink="/login"
      class="w-20"
      alt=""
    />
    <app-bttn-grn [color]="'primary'">Workspace</app-bttn-grn>
    <app-bttn-grn [color]="'primary'">Recent</app-bttn-grn>
    <app-bttn-grn [color]="'primary'">Center</app-bttn-grn>
  </div>
  <div class="cursor-pointer flex flex-row gap-4"> 
    <button>
      <fa-icon class="text-white" [icon]="faBell"></fa-icon>
    </button>
    <button>
      <fa-icon class="text-white" [icon]="faInfoCircle"></fa-icon>
    </button>
    <img
      src="../../../assets/339173763_221231667226339_8471894531456174778_n.jpg"
      class="w-12 rounded-full hover:contrast-50"
      (click)="imgClick = !imgClick"
      cdkOverlayOrigin
      #cartImg="cdkOverlayOrigin"
      />
  </div>
</nav>
<ng-template 
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="cartImg"
    [cdkConnectedOverlayOpen]="imgClick"> 
    <app-account-target (touch)="imgClick = $event"></app-account-target>
</ng-template>