<div class="w-full h-full  relative bg-gray-50">
    <div class="fixed  w-full h-full hidden sm:block">
        <img class="w-2/6 absolute left-0 bottom-0" src="../../../assets/undraw_studying_re_deca.svg" alt="">
        <img class="w-2/6 absolute right-0 bottom-0" src="../../../assets/undraw_medical_research_qg4d.svg" alt="">
    </div>
    <div class=" relative w-8/12 sm:w-7/12 md:w-6/12 xl:w-4/12 space-y-5 m-auto">

        <div class="space-y-5">
            <header class="flex mt-6 justify-center">
                <img  class="w-56" src="../../../assets/trello-logo-blue.svg" alt="">
            </header>
            <div class="bg-white  items-center rounded shadow-md py-7 px-10 ">
                <h1 class=" text-gray-500 text-center text-lg font-medium pb-4 ">Log in to trello</h1>
                <div class="">
                    <form action="" class="space-y-4">
                        <div class="relative">
                            <input placeholder="Email" type="text"
                            class="w-full  rounded border border-gray-300 py-2 px-2 outline-emerald-500 ">
                        </div>
                        <div class="relative">
                            <input placeholder="Password" type="password"
                            class="w-full rounded border border-gray-300 py-2 px-2 mb-4 outline-emerald-500  ">
                        </div>
                        <app-bttn-grn routerLink="/boards" class="w-full" [typeBttn]="'button'"
                        >continuar</app-bttn-grn>
                    </form>
                </div>
                <div class="py-3">
                    <hr class="border-gray-300 my-4"/>
                    <p class="text-center  text-blue-400 cursor-pointer hover:text-blue-500 hover:underline">¿No puedo iniciar sesion?</p>
                    <p class="text-center   text-blue-400 cursor-pointer hover:text-blue-500 hover:underline">Crear cuenta</p>
                </div>
            </div>
            <ul class="text-sm  flex justify-center  space-x-4  ">
                <li class="text-center text-blue-400 cursor-pointer hover:text-blue-500 hover:underline">Política de Privacidad</li>
                <li class="text-center text-blue-400 cursor-pointer hover:text-blue-500 hover:underline ">Condiciones del Servicio</li>
            </ul>
        </div>
        <hr class=" border-gray-300 relative"/>
        <footer class=" flex justify-center">
            <img class="w-56 " src="../../../assets/atlassian-logo-blue-small.svg" alt="">
        </footer>
    </div>
</div>